node_modules/
dist/
.vite/
concierge_image/
*.local
주식남-자동화/
다섯 가지 욕망/
위챗_샤오청쉬_의료진리스트/
*.mp4
!public/category-hero/gride_woman.mp4
!public/category-hero/custom-plan.mp4
!public/category-hero/mens-health.mp4
!public/category-hero/woman-care.mp4
*.xlsx
# Local Netlify folder
.netlify
# Environment variables
.env
.env.local
.env.production
